---
layout: default
---
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-5 py-5">
      <div class="col-lg-6">
        <h1 class="display-3 fw-bold">Hi, I'm Mays Copeland.</h1>
        <p class="lead">I build software tools that help you succeed at fantasy baseball.</p>
        <p class="lead">I am comfortable with a variety of languages and technologies. For fantasy tools, my primary languages have been Python, JavaScript, and PHP.</p> 
      </div>
      <div class="col-10 col-sm-8 col-lg-6 mx-auto">
          <img class="border border-dark border-5 rounded-circle img-fluid shadow-lg" src="img/mays.jpg" alt="" width="400">
      </div>
    </div>
  </div>

  <div class="container col-xxl-8 px-4">
    <div class="row align-items-center">
      <div class="col-md-10">
        <h1 class="pb-2 border-bottom border-dark border-2">Latest Projects</h2>
      </div>
      <div class="col-md-2 text-md-end">
        <a href="projects">View all...</a>
      </div>
    </div>
    <div class="row g-5 py-5 justify-content-evenly">

      <div class="col-md-5 border border-dark border-2 rounded shadow pb-3">
        <div class="w-50 mx-auto">
          <a href="https://draftkick.com">
            <img src="img/draftkick.svg" class="p-3">
          </a>
        </div>
        <h2>DraftKick</h2>
        <p class="lead">Modern draft software that's powerful and easy-to-use</p>
        <a href="https://draftkick.com" class="btn btn-primary border border-dark border-2 fw-bold">
          Visit site
        </a>
      </div>

      <div class="col-md-5 border border-dark border-2 rounded shadow pb-3">
        <div class="w-50 mx-auto">
          <a href="https://projectile.pro">
            <img src="img/projectile.svg" class="p-3">
          </a>
        </div>
        <h2>Projectile</h2>
        <p class="lead">Continually updated player projections for fantasy baseball</p>
        <a href="https://projectile.pro" class="btn btn-primary border border-dark border-2 fw-bold">
          Visit site
        </a>
      </div>

    </div>
  </div>

  <div class="container col-xxl-8 px-4">
    <div class="row align-items-center">
      <div class="col-md-10">
        <h1 class="pb-2 border-bottom border-dark border-2">Latest Articles</h2>
      </div>
      <div class="col-md-2 text-md-end">
        <a href="articles">View all...</a>
      </div>
    </div>

    <ul class="list-group py-5">
      {% for post in site.posts %}
        <li class="list-group-item border border-dark border-2 rounded shadow">
          <h1><a class="text-reset text-decoration-none" href="{{ post.url }}">{{ post.title }}</a></h1>
          {{ post.excerpt }}
          <a href="{{ post.url }}">(keep reading)</a>
        </li>
      {% endfor %}
    </ul>
  </div>
